.like-button {
  background-image: url(../../images/heart_icon.svg);
  width: 22px;
  height: 19px;
  align-self: center;
  flex-shrink: 0;
}

.like-button:hover {
  opacity: 0.5;
  transition: 0.2s ease-out;
}

.like-button:active {
  background-image: url(../../images/heart_active_icon.svg);
  transition: 0.2s ease-out;
}