.profile {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 880px;
  margin: 0 auto 50px auto;
  padding: 0;
}

@media (max-width: 879px) {
  .profile {
    max-width: 700px;
  }
}     

@media (max-width: 767px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    justify-content: center;
    gap: 36px;
    margin-bottom: 36px;
  }
}
