.profile_edit {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
}

@media (max-width: 767px) {
  .profile_edit {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}