.add-button {
  background-image: url(../../images/AddButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 150px;
  height: 50px;
  flex-shrink: 0;
}

.add-button:hover{
opacity: 0.6;
transition: 0.2s ease-out;
}

@media (max-width: 767px) {
  .add-button {
    background-image: url(../../images/AddButton_long.svg);
    width: 282px;
  }
}
