.addButton {
  background-image: url(../../images/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 22px;
  height: 22px;
  padding: 14px 64px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

.addButton:hover{
opacity: 0.6;
border: 2px solid #FFFFFF;
border-radius: 2px;
}

@media (max-width: 767px) {
  .addButton {
    padding: 17px 133px;
  }
}
