.popup__form {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 36px;
  padding-top: 54px;
  margin: 0;
}

@media (max-width: 767px) {
  .popup__form {
    max-width: 238px;
    padding-left: 22px;
    padding-top: 75px;
  }
}